### OS
.DS_Store

### Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
*.manifest
*.spec

### Environments
.env
.venv/
env/
venv/

### Packaging
build/
dist/

### Tooling
.pytest_cache/
.mypy_cache/
coverage.*
pip-log.txt
pip-wheel-metadata/
