{{- $ns := include "openim.namespace" . -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.redis.name }}
  namespace: {{ $ns }}
  labels:
    {{- include "openim.labels" . | nindent 4 }}
type: Opaque
data:
  redis-password: {{ (default "" .Values.secrets.redis.password) | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.mongo.name }}
  namespace: {{ $ns }}
  labels:
    {{- include "openim.labels" . | nindent 4 }}
type: Opaque
data:
  mongo_openim_username: {{ (default "" .Values.secrets.mongo.username) | b64enc | quote }}
  mongo_openim_password: {{ (default "" .Values.secrets.mongo.password) | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.minio.name }}
  namespace: {{ $ns }}
  labels:
    {{- include "openim.labels" . | nindent 4 }}
type: Opaque
data:
  minio-root-user: {{ (default "" .Values.secrets.minio.accessKey) | b64enc | quote }}
  minio-root-password: {{ (default "" .Values.secrets.minio.secretKey) | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.kafka.name }}
  namespace: {{ $ns }}
  labels:
    {{- include "openim.labels" . | nindent 4 }}
type: Opaque
data:
  kafka-password: {{ (default "" .Values.secrets.kafka.password) | b64enc | quote }}
